<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#close" title="Hide navigation">Hide navigation</a>

    {% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
    {% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

    <ul id="nav" class="nav">
        {% for page in pages.children %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
                {% if 'home' in page.menu %}
                <li class="current">
                    <a class="smoothscroll" href="#home">
                        {{ page.menu }}
                    </a>
                </li>
                {% else %}
                <li class="{{ current_page }}">
                    <!-- <a href="{{ page.url }}"> -->
                    <a href="#home">
                        {{ page.menu }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.link }}">{{ mitem.text }}</a>
            </li>
        {% endfor %}
        {% for module in page.collection() %}
            {% if not module.header.hidemenu %}
                {% set current_page = (module.active or module.activeChild) ? 'current' : '' %}
                <li class="{{ current_module }}">
                    <a class="smoothscroll" href="#{{ _self.pageLinkName(module.title) }}">{{ module.menu }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
